.marker-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.marker-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  max-height: 70vh;
  overflow: auto;

  padding: 20px;

  background: rgba(20, 20, 20, 0.95);
  backdrop-filter: blur(10px);

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.7);
}

.marker-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.desc {
  font-size: 12px;
  color: #aaa;
}